.button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  text-align: center;
  &:disabled {
    color: var(--basic-light-pixema);
    background: var(--secondary-grey);
    cursor: not-allowed;
    &:hover {
      color: var(--basic-light-pixema);
      background: var(--secondary-grey);
    }
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.filter {
  background-color: var(--bg-graphite-pixema);
}

.user {
  background-color: var(--primary-purple-first);
}

.chevron {
  background-color: transparent;
  color: var(--primary-purple-first);
  &:hover {
    fill: var(--primary-purple-first);
  }
}

.burger {
  width: 46px;
  height: 46px;
  background: var(--primary-purple-first);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: var(--basic-light-pixema);
  }
}

.pagination {
  padding: 5px 20px;
  background: var(--bg-graphite-pixema);
  color: var(--text-color);
  border-radius: 10px;
  &:hover {
    color: var(--primary-purple-second);
  }
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.system {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--primary-purple-first);
  color: var(--text-color);
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--primary-purple-second);
  }
}
