@import '../../../../App.styles.scss';

.logo_button {
  border: 0;
  background: none;
  cursor: pointer;
  transition: 0.5s;

  path {
    transition: 0.5s;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.light {
  path:nth-child(n + 4) {
    fill: var(--bg-black-pixema);
  }
}
